
*{
}
.HeaderSec{
    outline: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00a3ea;
    font-family: 'Source Sans Pro', 'Helvetica Neue';
    padding: 0 22px;
    top:0;
    z-index: 3;

                                                
}
 .siteNav ul{
    display: flex;
    align-items: center;

}
.siteNav ul li{
    text-decoration: none;
    list-style: none;
    
}
/* .siteNav ul li{
    margin-left: 30px;
} */
.siteNav ul li:hover{
    background-color: rgba(0, 0, 0, 0.244);
}
.siteNav ul li a{
    color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 1.5em 1.2em;
  text-decoration: none;
  vertical-align: top;
  text-transform: uppercase;
  font-size: 1.4em;
}

/* Main content */
/* Headline text*/
.Headline{
    width: 100%;
    background-color: #00a3ea;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    padding: 4em 0 6em;
  text-align: center;
    height: 90vh;

}
.heroText{
    font-size: 4.8em;
  font-weight: 600;
  letter-spacing: -0.5px;
  margin: 0 auto .667em;
  max-width: 900px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.Headline h2{
    font-size: 2em;
    font-weight: 600;
  color: rgb(255, 255, 255);

}
.Buttons{
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    outline: 1px solid red;
    padding: .4em 0;
}
.Buttons li{
    list-style-type: none;
    width: 50%;
    
}
.Buttons li.seletec{
    background: #055679;
    font-weight: bold;
    color: #fff;
    cursor: default;
}
.Buttons li a{
    text-decoration: none;
    font-size: 1.5rem;

}
