.headerr{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 12px;
   
}

.navlinks{
    display: flex;
    align-items: center;
    color: green;
    font-size: 18px;
    width: 100%;
}
.navlinks a{
    margin-right: 23px;
}