@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
:root{
    --white-color: rgb(255, 255, 255);
    --primary-color: red;
    --button-color: rgb(23, 96, 7);
    --brand-color: linear-gradient(to right, #009CAA 10%, #00CADD 100%);
}
body{
    font-family: "Source Sans Pro","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    color: black;
    font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}



/* new */

.navbar-1{
    position: relative;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* padding: 20px 40px; */
    padding: 10px 20px;
    box-sizing: border-box;
    object-fit: contain;

   
}

.logo-text{
    display: none;
}
/* Search input */
.search-iput-container{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    width: 0;
    height: 30px;
    padding: 12px 12px;
    transition: width 0.4s ease-in-out;
}
.search-iput-container:activate{
    width: 330px;
}
.search-iput-container input{
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
}
.search-iput-container svg{
    cursor: pointer;
}



.cartIcon{
    position: relative;
    text-align:  center;
    /* overflow: hidden; */
}
.cart-counter{
    position: absolute; 
    display: flex;
    align-items: center;
    justify-content: center;
    /* top: 12px; */
    bottom: 0;
    right: 0;
    font-size: 0.7rem;
    background: var(--brand-color);
    width: 20px;
    height: 20px;
    font-size: 0.9rem;
    padding: 5px;
    border-radius: 50%;
    font-weight: 800;
    color: white;
}







.navbar-2{
    background: var(--brand-color);
    position: relative;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* padding: 20px 40px; */
    padding: 10px 20px;
    box-sizing: border-box;
    object-fit: contain;
}

.navbar-2 .nav-links, .sign-in-btn{
    display: none;

}
.navbar-2 .nav-links .home-nav-link{
    margin-left: 50px; 
    font-weight: 600;
}
.navbar-2 .Categories-selection{
    background-color: transparent;
    color: white;
    font-weight: 800;
    outline: none;
    border: none;
}
.navbar-2 .handburger-menu{
    cursor: pointer;
}
.Hero-section{
    background-image: url('./assets/products/hero.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    overflow: hidden;
}
.hero-text{
    text-align: center;
    padding: 25px;
}
.cathy-text{
    font-family: "Open Sans", sans-serif;
    line-height: 40px;
}
.sub-catchy-text{
    font-family: "Source Sans Pro","Helvetica Neue",Arial,sans-serif;
    font-weight: 300;
    margin-bottom: 15px;
    color: #666666;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.277);
}


.hero-text .discount-notfication-text{
    font-weight: 400;
    color: #009CAA;
}
/* shop now button */
.Shop-now-btn{
    background: var(--brand-color);
    border-radius: 10px;
    text-align: center;
    max-width: 120px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);

}
.Shop-now-btn button{
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    box-shadow: ;
}








/* TABLET RESPONSIVENESS STYLING */
@media (min-width: 415px) and (max-width: 768px){
    .navbar-2 .nav-links, .sign-in-btn{
        display: flex;
    }
    /* handburger menu */
    .navbar-2 .handburger-menu{
        display: none;
    }
}

/* DESKTOP SCREENS */
@media (min-width: 769px){
    .navbar-1, .navbar-2{
        padding: 20px 40px;
    }
    .navbar-2 .nav-links, .sign-in-btn{
        display: flex;
    }
    .navbar-2 .handburger-menu{
        display: none;
    }
}